{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="text-center mt-4">Connexion</h1>

                    <label for="inputPseudo">Pseudo</label>
                    <input type="pseudo" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
