{% extends "base.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}

<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/bg-img/hero-1.jpg') }})"></div>
<!-- ***** Breadcumb Area End ***** -->


<!-- ***** Contact Area Start ***** -->

<!-- ***** Contact Area End ***** -->

{% endblock %}