{% extends "base.html.twig" %}

{% block title %}
    Concept
{% endblock %}



{% block content %}



    <!--Video Section-->
<section id="videoDmi" class="dorne-welcome-area bg-img bg-overlay"
         style="background-image: url( {{ asset('img/bg-img/hero-1.jpg') }});">

    

        <div class="container h-100">
            <div class="d-flex text-center h-100">
                <div class="my-auto w-100 text-white">
                    <h2 class="display-3 text-white">DISCOVERMYISLAND</h2>
                    <h5 class="text-white">A pied… en voiture… en ville ou dans des contrées lointaines
                        Un parcours à thème pour vous aiguiller dans votre déambulation !
                        Cher DMIste, en piste ! </h5>
                </div>
            </div>
        </div>
    </section>

    <!--Video Section Ends Here-->

    <!-- ***** Text Start ***** -->
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 ">
                <h3 class="text-center">Qui sommes-nous ! </h3>
            </div>
            <div class="col-12 mt-4 ">
                <p>
                    Astrid et Léna, 2 jeunes femmes passionnées du digital, de la découverte décident lors d'un projet de
                    formation de créer une site web dans un premier temps mais à terme une application permettant de découvrir différement la Guadeloupe.
                </p>
                <h6 class="text-dmi text-right">Entrez dans notre univers!</h6>
            </div>
        </div>
        <div class="row pb-5 mx-auto">
            <div class="col-12 mt-4">
                <h3 class="text-center">L'équipe</h3>
            </div>
        </div>
        <div class="row mx-auto pb-3">
            <div class="col-6 text-center ">
                        <img class="img-avatar rounded-circle" src="{{ asset('img/clients-img/avatar/avatarAstrid.png') }}" alt="astrid">
                        <ul class=" mt-3">
                            <li ><h3>Astrid JONATHAN</h3></li>
                            <li ><p><h6 class="text-dmi">Chef de projet technique, designer, back-end</h6></p></li>
                            <li><p>@mail: astrid.jonathan@gmail.com</p></li>
                            <li ><p><b><i>Que la force soit avec toi ! </i></b></p></li>
                        </ul>
            </div>
            <!-- Team 2-->
            <div class="col-6 text-center ">
                <img class=" img-avatar rounded-circle" src="{{ asset('img/clients-img/avatar/avatarLena.png') }}" alt="lena">
                <ul class=" text-center mt-3">
                    <li><h3>Léna BOISSERON</h3></li>
                    <li><h6 class="text-dmi">Chef de projet fonctionnel, rédacteur, front-end</h6></li>
                    <li><p>@mail: lena.boisseron@yahoo.com</p></li>
                    <li><p><b><i>Infini et au delà ! </i></b></p></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ***** Text Area End ***** -->

{% endblock %}