{% extends "base.html.twig" %}
{% block javascripts %}

{% endblock %}

{% block content %}

    <div class="location-on-map mt-50" id="lomap">
        <h4>Location on map</h4>
        <div class="location-map">
            <div id="locationMap"></div>
        </div>
    </div>


{% endblock %}


{% block scripts %}
    {{ parent() }}
    <!-- Google Maps js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBppR3tyGzWbuXGbySTMp_XqCoOzdohqms"></script>
    <script src="{{ asset('js/google-map/location-map-active.js') }}"></script>
{% endblock %}