{% extends 'base.html.twig' %}

{% block content %}
    <h1>Oupssss Page non trouvé</h1>

    <p>
        Vérifier l'url ou  <a href="{{ path('default_index') }}">Retour à la page d'accueil</a>.
    </p>
{% endblock %}