<header class="header_area" id="header">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.php"><img src="{{ asset('img/core-img/logo.png') }} " alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                    <!-- Nav -->
                    <div class="collapse navbar-collapse" id="dorneNav">
                        <ul class="navbar-nav mr-auto" id="dorneMenu">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.php">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="index.php">Accueil</a>
                                    <a class="dropdown-item" href="explore.html">Explore</a>
                                    <a class="dropdown-item" href="listing.html">Rallye</a>
                                    <a class="dropdown-item" href="single-listing.html">Single Listing</a>
                                    <a class="dropdown-item" href="contact.html">Contact</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rallye <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item" href="listing.html">How it Works</a>
                                    <a class="dropdown-item" href="index.html">A Venir</a>
                                    <a class="dropdown-item" href="explore.html">S'inscrire</a>
                                    <a class="dropdown-item" href="listing.html">How it Works</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="concept.html">Concept</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                        <!-- Signin btn -->
                        <div class="dorne-signin-btn">
                            <a href="{{ path('app_login') }}" class="btn dorne-btn">Connexion</a>
                        </div>
                        <!-- Register btn -->
                        <div class="dorne-signin-btn">
                            <a href="#" class="btn dorne-btn">Enregistrement</a>
                        </div>
                        <!-- Add listings btn
                        <div class="dorne-add-listings-btn">
                            <a href="#" class="btn dorne-btn">+ Add Listings</a>
                        </div>-->
                    </div>
                </nav>

            </div>
        </div>
    </div>
</header>