<!-- ****** Footer Area Start ****** -->
<footer class="dorne-footer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-md-flex align-items-center justify-content-between">
                <div class="col-9" id="contactB">
                    <a class="navbar-brand" href="{{ path('/') }}"><img src="{{ asset('img/core-img/logo_dark.png') }} " alt="logo.png"></a>
                    <p>Visiter autrement, Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Ab ad consequuntur doloremque doloribus eveniet.</p>

                </div>

                <div class="col-3 footer-social-btns">
                    <a href="#"><i class="fa  fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
                <h6 class="ml-3 mt-3"><a href="{{ path('default_mlegales') }}">Mentions Légales</a></h6>

                </div>

            </div>
        </div>
        <div class="row bg-default justify-content-center mt-2 ">
            <div class="footer-text text-center">
                <p class="text-center p-2">
                    Copyright &copy; {{ "now"|date("Y") }} Tous droits réservés</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- ****** Footer Area End ****** -->
